/* .firstelement {
  color: blue;
}
.first{
    color: brown;
}
.last{
    color: cadetblue;
}
.odd{
    color: crimson;
}
.even{
    color: cyan;
}
.blue{
    color:cadetblue;
}
.green{
    color: chartreuse;
}
.small-font{
    font-size: 29px;
}
.large-font{
    font-size: 40px;
} */
#customers{
  border-collapse: collapse;
  width: 100%;
}
#customers td,#customers,#customers input {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  

}
#customers tr:hover{
  background-color:darkmagenta;
  color: white;
}
#customers th{
  text-align: center;
  background-color: cornflowerblue;
  color: white;
  padding: 9px;
  border: 1px solid #ddd;
}
/* .table{
 padding-left: 25%;
 padding-top: 10%;
} */
#customers input:hover{
  color: white;
  background-color: rgb(180, 30, 30);
}
button:hover{
  background-color: green;
  color: white;
  
}
button{
  padding:9px;
}

.error_message{
  color: red;
}